.game-over-modal {
  position: fixed;
  top: 0;

  height: 100vh;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.671);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.game-over-modal-active {
  pointer-events: all;
  opacity: 1;
}

.modal-container {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 15px;
  padding: 2rem 4rem;

  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.219);
}
