.score-display {
  font-size: 1.5rem;
}

.score-display-section {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.info-display--score-title {
  flex-grow: 1;
  text-align: right;
  font-weight: 700;
}

.info-display--score {
  /* Allow enough width for up to 2 digits as max score is 10 */
  min-width: 2rem;
  text-align: right;
}
